<div class="container">
<h1>Stupid Coaching</h1>

<div class="white-card">
  <p><%= params[:question] %></p>
  <p>-You</p>
</div>
<div class="white-card">
<p><%= @answer%></p>
<p>-Stupid Coach</p>
</div>
<%= link_to "another question", "/ask" %>
</div>
