
<div class="container justify-content-center">
<h1>Stupid Coaching</h1>
<div class="white-card">
<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="question" value="<%= params[:ask] %>">
  <input type="submit" value="Ask!">
</form>
</div>
</div>
